@model CrochetCatPause.Models.ContactMessage

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ContactMessage</legend>

        <div class="editor-label">
            Your Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
           Your Email
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReturnEmail)
            @Html.ValidationMessageFor(model => model.ReturnEmail)
        </div>

        <div class="editor-label">
            Subject
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            Body
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
